<main id="main" class="main">
    <!-- <div class="pagetitle">
        <h1>General Tables</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">General</li>
            </ol>
        </nav>
    </div> -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">สถานะคำร้องขออนุมัติการสมัคร</h5>
                        <!-- <form class="row g-3">
                            <div class="col-md-3">
                                <label for="status_ap" class="form-label">สถานะ</label>
                                <select id="status_ap" class="form-select" (change)="func_filter_status()"
                                    [(ngModel)]="status_ap" name="status_ap">
                                    <option selected value="all">สถานะทั้งหมด</option>
                                    <option selected value="1">รออนุมัติการสมัคร</option>
                                    <option style="color: red;" value="0">แจ้งให้แก้ไขข้อมูลการสมัคร</option>
                                    <option class="text-success" value="2">อนุมัติการสมัครแล้ว</option>
                                </select>
                            </div>
                        </form> -->
                        <form class="row g-3">
                            <div class="col-md-3">
                                <label for="status_ap" class="form-label">สถานะ</label>
                                <select id="status_ap" class="form-select" (change)="func_filter_status()"
                                    [(ngModel)]="status_ap" name="status_ap">
                                    <!-- <option selected value="0">Choose...</option> -->
                                    <option selected value="all">สถานะทั้งหมด</option>
                                    <option value="1">รอดำเนินการตรวจสอบเอกสาร</option>
                                    <option style="color: red;" value="0">แจ้งให้แก้ไขเอกสาร</option>
                                    <option class="text-success" value="2">อนุมัติการตรวจสอบเอกสารแล้ว</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="province" class="form-label">จังหวัด</label>
                                <select id="province" class="form-select" (change)="func_filter_province($event)"
                                    [(ngModel)]="filter_province" name="province">
                                    <option *ngFor="let p of province" [value]="p.id">
                                        {{p.name_th}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="amphures" class="form-label">อำเภอ</label>
                                <select id="amphures" class="form-select" (change)="func_filter_amphures($event)"
                                    [(ngModel)]="selected_amphures" name="amphures">
                                    <option *ngFor="let p of amphures" [value]="p.id">
                                        {{p.name_th}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="districts" class="form-label">ตำบล</label>
                                <select id="districts" class="form-select" (change)="func_filter_districts($event)"
                                    [(ngModel)]="selected_districts" name="districts">
                                    <option *ngFor="let p of districts" [value]="p.id">
                                        {{p.name_th}}
                                    </option>
                                </select>
                            </div>
                        </form>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ลำดับที่</th>
                                    <th scope="col">ชื่อ - สกุล</th>
                                    <th scope="col">เบอร์โทรศัพท์</th>
                                    <th scope="col">เลขบัตรประชาชน</th>
                                    <!-- <th scope="col">ใบอนุมัติ</th> -->
                                    <th scope="col" style="text-align: center;">วันที่สมัคร</th>
                                    <th scope="col" style="text-align: center;">รายละเอียด</th>
                                    <th scope="col" style="text-align: center;">สถานะ</th>
                                    <th scope="col" style="text-align: center;">แก้ไข</th>
                                    <th scope="col" style="text-align: center;">อนุมัติ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of this.arrpeopleModel ;let i = index"
                                    [attr.data-index]="item.people_id">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{item.people_name}}</td>
                                    <td>{{item.people_phone}}</td>
                                    <td>{{item.people_cardnumber}}</td>
                                    <!-- <td>
                                        <div class="carousel-item active"> <img src="{{item.people_image_profile}}"
                                                class="d-block w-100"></div>
                                    </td> -->
                                    <td style="text-align: center;">{{item.people_timestamp | date:"dd-MM-YYYY HH:mm:ss"  }}</td>
                                    <td style="text-align: center;"><button type="button" class="btn btn-warning"
                                        (click)="pages_profile_info(item.people_generate)">รายละเอียด</button></td>
                                    <td *ngIf="item.is_status == '0'" style="text-align: center;">
                                        <p style="color: red;">รอแก้ข้อมูลการสมัคร</p>
                                    </td>
                                    <td *ngIf="item.is_status == '0'" style="text-align: center;">
                                        <p>-</p>
                                    </td>
                                    <td *ngIf="item.is_status == '0'" style="text-align: center;">
                                        <p>-</p>
                                    </td>
                                    <td *ngIf="item.is_status == '1'" style="text-align: center;">
                                        <p style="color: red;">รออนุมัติ</p>
                                    </td>
                                    <td *ngIf="item.is_status == '1' and item.history_remark" style="text-align: center;">
                                        <button type="button" class="btn btn-warning" 
                                            (click)="reject_status(item)">แก้ไข</button>
                                    </td>
                                    <td *ngIf="item.is_status == '1'" style="text-align: center;"><button type="button" class="btn btn-success" 
                                        (click)="approve_status(item.people_generate)">อนุมัติ</button></td>
                                    <td *ngIf="item.is_status == '2'" style="text-align: center;">
                                        -
                                    </td>
                                    <td *ngIf="item.is_status == '2'" style="text-align: center;">
                                        <p>-</p>
                                    </td>
                                    <td *ngIf="item.is_status == '2'" style="text-align: center;">
                                        <p style="color: green;">อนุมัติแล้ว</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>