<main id="main" class="main">
    <!-- <div class="pagetitle">
        <h1>General Tables</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">General</li>
            </ol>
        </nav>
    </div> -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">สถานะคำร้องขอขึ้นทะเบียน</h5>
                        <form class="row g-3">
                            <div class="col-md-3">
                                <label for="status_ap" class="form-label">สถานะ</label>
                                <select id="status_ap" class="form-select" (change)="func_filter_status()"
                                    [(ngModel)]="status_ap" name="status_ap">
                                    <!-- <option selected value="0">Choose...</option> -->
                                    <option selected value="all">สถานะทั้งหมด</option>
                                    <option value="1">รอดำเนินการตรวจสอบเอกสาร</option>
                                    <option style="color: red;" value="0">แจ้งให้แก้ไขเอกสาร</option>
                                    <option class="text-success" value="2">อนุมัติการตรวจสอบเอกสารแล้ว</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="province" class="form-label">จังหวัด</label>
                                <select id="province" class="form-select" (change)="func_filter_province($event)"
                                    [(ngModel)]="filter_province" name="province">
                                    <option *ngFor="let p of province" [value]="p.id">
                                        {{p.name_th}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="amphures" class="form-label">อำเภอ</label>
                                <select id="amphures" class="form-select" (change)="func_filter_amphures($event)"
                                    [(ngModel)]="selected_amphures" name="amphures">
                                    <option *ngFor="let p of amphures" [value]="p.id">
                                        {{p.name_th}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="districts" class="form-label">ตำบล</label>
                                <select id="districts" class="form-select" (change)="func_filter_districts($event)"
                                    [(ngModel)]="selected_districts" name="districts">
                                    <option *ngFor="let p of districts" [value]="p.id">
                                        {{p.name_th}}
                                    </option>
                                </select>
                            </div>
                        </form>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <p style="text-align: center;">ลำดับที่</p>
                                    </th>
                                    <th scope="col">
                                        <p style="text-align: center;">ตำแหน่งแปลงที่ดิน</p>
                                    </th>
                                    <th scope="col">
                                        <p style="text-align: center;">วันที่ยื่นขอลงทะเบียน</p>
                                    </th>
                                    <th scope="col">
                                        <p style="text-align: center;">รายละเอียด</p>
                                    </th>
                                    <th scope="col">
                                        <p style="text-align: center;">สถานะ</p>
                                    </th>
                                    <th scope="col">
                                        <p style="text-align: center;">แจ้งให้แก้ไขเอกสาร</p>
                                    </th>
                                    <th scope="col">
                                        <p style="text-align: center;">อนุมัติ</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of this.arrLanduse ;let i = index"
                                    [attr.data-index]="item.landuse_id">
                                    <th style="text-align: center;" scope="row">{{i+1}}</th>
                                    <td style="text-align: center;"> <a
                                            href="http://maps.google.com/?q={{item.landuse_lat}},{{item.landuse_lng}}"
                                            target="_blank"><i class="ri-map-pin-line"
                                                style="font-size: 1.5rem;"></i></a></td>
                                    <td style="text-align: center;">{{item.landuse_timestamp | date:'yyyy-MM-dd H:mm:ss'
                                        }}</td>
                                    <td style="text-align: center;"><button type="button" class="btn btn-warning"
                                            (click)="pages_profile_info(item.landuse_id)">รายละเอียด</button></td>
                                    <td style="text-align: center;" *ngIf="item.is_status == '0'">
                                        <p style="color: red;">รอแก้ข้อมูลการสมัคร</p>
                                    </td>
                                    <td style="text-align: center;" *ngIf="item.is_status == '0'">
                                        <p>-</p>
                                    </td>
                                    <td style="text-align: center;" *ngIf="item.is_status == '0'">
                                        <p>-</p>
                                    </td>
                                    <td style="text-align: center;" *ngIf="item.is_status == '1'">
                                        <p style="color: red;">รออนุมัติ</p>
                                    </td>
                                    <td style="text-align: center;"
                                        *ngIf="item.is_status == '1' and item.history_remark">
                                        <button type="button" class="btn btn-warning"
                                            (click)="reject_status(item)">แก้ไข</button>
                                    </td>
                                    <td style="text-align: center;" *ngIf="item.is_status == '1'">
                                        <button type="button" class="btn btn-success"
                                            (click)="approve_status(item)">อนุมัติ</button>
                                    </td>
                                    <td style="text-align: center;" *ngIf="item.is_status == '2'">
                                        -
                                    </td>
                                    <td style="text-align: center;" *ngIf="item.is_status == '2'">
                                        <p>-</p>
                                    </td>
                                    <td style="text-align: center;" *ngIf="item.is_status == '2'">
                                        <p style="color: green;">อนุมัติแล้ว</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>