@font-face {
    font-family: "Kanit-Regular";

    src: url("../../../assets/fonts/Kanit-Regular.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
a,
h1,
h5,
p,
label,
button {
    font-family: Kanit-Regular;
    /* font-size: 2vw; */
}