<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">รายละเอียดแปลงที่ดิน</h5>
                        <form>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">1. ลักษณะโคนต้นมะพร้าว</label>
                                <div class="col-sm-2"> <input type="text" class="form-control"
                                        style="text-align: center;"
                                        value="{{arr_landuse_info[0].coconut_base_characteristics}}" disabled></div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-12 col-form-label">2. ระยะรอบโคนต้น
                                    ​(วัด2จุด)​</label>
                                <div class="col-sm-2"></div>
                                <label class="col-sm-2 col-form-label">1) เหนือพื้นดิน​ 20
                                    ซม.​</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" style="text-align: center;"
                                        value="{{arr_landuse_info[0].base_to_ground_distance_20cm}}" disabled>
                                </div>
                                <label class="col-sm-2 col-form-label">2) เหนือระดับพื้นดิน
                                    150 ซม.​​</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" style="text-align: center;"
                                        value="{{arr_landuse_info[0].base_to_ground_distance_150cm}}" disabled>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">3. ระยะรอยทางใบ (ถี่-ห่าง) วัดระยะรอยทางใบที่ ​1
                                    ​ถึง ​16</label>
                                <div class="col-sm-2"> <input type="text" class="form-control"
                                        value="{{arr_landuse_info[0].track_measurement_1_to_17}}" disabled></div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">4. ความยาวก้านทางใบ</label>
                                <div class="col-sm-2"> <input type="text" class="form-control"
                                        value="{{arr_landuse_info[0].leaf_stalk_width}}" disabled></div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">5. ความยาวทางใบช่วงที่มีใบย่อย</label>
                                <div class="col-sm-2"> <input type="text" class="form-control"
                                        value="{{arr_landuse_info[0].length_of_leaf_segment_with_leaflet}}" disabled>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-12 col-form-label">6. ผลผลิต</label>
                                <label class="col-sm-2 col-form-label">ผลผลิตช่วง ม.ค. - เม.ย.
                                    ​</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" style="text-align: center;"
                                        value="{{arr_landuse_info[0].production_jan_to_apr}}" disabled>
                                </div>
                                <label class="col-sm-2 col-form-label">ผลผลิตช่วง พ.ค. - ส.ค.
                                    ​​</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" style="text-align: center;"
                                        value="{{arr_landuse_info[0].production_may_to_aug}}" disabled>
                                </div>
                                <label class="col-sm-2 col-form-label">ผลผลิตช่วง ก.ย. - ธ.ค.
                                    ​</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" style="text-align: center;"
                                        value="{{arr_landuse_info[0].production_sep_to_dec}}" disabled>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-12 col-form-label">รูปผลผลิต</label>
                                <img src="{{arr_landuse_info[0].production_image}}" class="d-block" style="width: 100%;"
                                    alt="ผลผลิต">
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-12 col-form-label">7. ความกว้างและความยาวของทรงผล
                                    (วัดทั้งแนวตั้งและแนวนอน)</label>
                                <label class="col-sm-12 col-form-label">มีเปลือก​</label>
                                <div class="row">
                                    <div class="col-sm-6 col-form-label">
                                        <label class="col-form-label">ความกว้าง (ซม.)</label>
                                        <input type="text" class="form-control" style="text-align: center;"
                                            value="{{arr_landuse_info[0].husked_fruit_peel_width}}" disabled>
                                    </div>
                                    <div class="col-sm-6 col-form-label">
                                        <label class="col-form-label">ความยาว (ซม.)</label>
                                        <input type="text" class="form-control" style="text-align: center;"
                                            value="{{arr_landuse_info[0].husked_fruit_peel_length}}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-12 col-form-label">ไม่มีเปลือก​</label>
                                <div class="row">
                                    <div class="col-sm-6 col-form-label">
                                        <label class="col-form-label">ความกว้าง (ซม.)</label>
                                        <input type="text" class="form-control" style="text-align: center;"
                                            value="{{arr_landuse_info[0].husked_no_fruit_peel_width}}" disabled>
                                    </div>
                                    <div class="col-sm-6 col-form-label">
                                        <label class="col-form-label">ความยาว (ซม.)</label>
                                        <input type="text" class="form-control" style="text-align: center;"
                                            value="{{arr_landuse_info[0].husked_no_fruit_peel_length}}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">8. ความยาวเส้นรอบวง</label>
                                <div class="col-sm-2"> <input type="text" class="form-control"
                                        value="{{arr_landuse_info[0].boundary_length}}" disabled></div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">9. สีผิวของเปลือกสด​</label>
                                <div class="col-sm-2"> <input type="text" class="form-control"
                                        value="{{arr_landuse_info[0].husk_skin_color}}" disabled></div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">10. น้ำหนักของผลสดทั้งเปลือก</label>
                                <div class="col-sm-2"> <input type="text" class="form-control"
                                        value="{{arr_landuse_info[0].fresh_fruit_weight}}" disabled></div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">11. อายุต้น (ปี)</label>
                                <div class="col-sm-2"> <input type="text" class="form-control"
                                        value="{{arr_landuse_info[0].plant_age}}" disabled></div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">12. ทรงพุ่ม</label>
                                <div class="col-sm-2"> <input type="text" class="form-control"
                                        value="{{arr_landuse_info[0].tree_canopy_shape}}" disabled></div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-12 col-form-label">จำนวนต้นหรือพื้นที่</label>
                                <div class="row">
                                    <div class="col-sm-6 col-form-label">
                                        <label class="col-form-label">จำนวนต้น</label>
                                        <input type="text" class="form-control" style="text-align: center;"
                                            value="{{arr_landuse_info[0].tree_quantity}}" disabled>

                                    </div>
                                    <div class="col-sm-6 col-form-label">
                                        <label class="col-form-label">พื้นที่ (ไร่)</label>
                                        <input type="text" class="form-control" style="text-align: center;"
                                            value="{{arr_landuse_info[0].planting_space}}" disabled>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">6.จำนวนใบย่อย (ข้างซ้าย)</label>
                                <div class="col-sm-10"> <input type="text" class="form-control"
                                        value="{{arr_landuse_info[0].count_of_left_subleaflets}}" disabled></div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">7.ความยาวแกนกลางจั่น​ ช่วงที่มีระเเง้</label>
                                <div class="col-sm-10"> <input type="text" class="form-control"
                                        value="{{arr_landuse_info[0].feature_stem_axis_length}}" disabled></div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">8.จำนวนดอกตัวเมีย</label>
                                <div class="col-sm-10"> <input type="text" class="form-control"
                                        value="{{arr_landuse_info[0].feature_female_flower_count}}" disabled></div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">9.จำนวนระแง้</label>
                                <div class="col-sm-10"> <input type="text" class="form-control"
                                        value="{{arr_landuse_info[0].feature_inflorescence_count}}" disabled></div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">10.ทรงผลทั้งเปลือก​แนวตั้ง (รูปไข่, ทรงกลม,
                                    วงรี)</label>
                                <div class="col-sm-10"> <input type="text" class="form-control"
                                        value="{{arr_landuse_info[0].feature_vertical_pericarp_shape}}" disabled></div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-12 col-form-label">11.ความยาวรอบผล(วัดแนวตั้งและแนวนอน)</label>
                                <label class="col-sm-2 col-form-label"></label>
                                <label class="col-sm-2 col-form-label">วัดแนวตั้ง</label>
                                <div class="col-sm-3"> <input type="text" class="form-control"
                                        style="text-align: center;"
                                        value="{{arr_landuse_info[0].feature_pericarp_circumference1}}" disabled></div>
                                <label class="col-sm-2 col-form-label">แนวนอน</label>
                                <div class="col-sm-3"> <input type="text" class="form-control"
                                        style="text-align: center;"
                                        value="{{arr_landuse_info[0].feature_pericarp_circumference2}}" disabled></div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">12.สีผิวของเปลือกผล(เขียวเข้ม, เขียวใบตอง,
                                    เขียวมรกต)​</label>
                                <div class="col-sm-10"> <input type="text" class="form-control"
                                        value="{{arr_landuse_info[0].feature_pericarp_color}}" disabled></div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">13.รูปร่างของเมล็ด (กะลาไร้เปลือก)​( ทรงกลม,
                                    ทรงหยดน้ำ, วงรี)​</label>
                                <div class="col-sm-10"> <input type="text" class="form-control"
                                        value="{{arr_landuse_info[0].feature_seed_shape}}" disabled></div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">14.ความหวานของน้ำ</label>
                                <div class="col-sm-10"> <input type="text" class="form-control"
                                        value="{{arr_landuse_info[0].feature_water_sweetness}}" disabled></div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">15.ความหนาของเนื้อ</label>
                                <div class="col-sm-10"> <input type="text" class="form-control"
                                        value="{{arr_landuse_info[0].feature_flesh_thickness}}" disabled></div>
                            </div> -->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">จังหวัด</label>
                                <div class="col-sm-2"> <input type="text" class="form-control"
                                        value="{{arr_landuse_info[0].provinces_name_th}}" disabled></div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">อำเภอ</label>
                                <div class="col-sm-2"> <input type="text" class="form-control"
                                        value="{{arr_landuse_info[0].amphures_name_th}}" disabled></div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">ตำบล</label>
                                <div class="col-sm-2"> <input type="text" class="form-control"
                                        value="{{arr_landuse_info[0].districts_name_th}}" disabled></div>
                            </div>
                            <div class="col-md-12 google-map-wrapper">
                                <label class="form-label">ตำแหน่งที่ตั้ง</label>
                                <div class="col-sm-12" *ngIf="apiLoaded | async">
                                    <google-map height="400px" width="100%" [center]="center" [zoom]="zoom"
                                        (mapClick)="addMarker($event)">
                                        <map-marker *ngFor="let markerPosition of markerPositions"
                                            [position]="markerPosition" [options]="markerOptions"></map-marker>
                                        <map-traffic-layer [autoRefresh]="true"></map-traffic-layer>
                                    </google-map>
                                </div>
                            </div>
                            <!-- <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Submit Button</label>
                                <div class="col-sm-10"> <button type="submit" class="btn btn-primary">Submit
                                        Form</button>
                                </div>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>